adf-res/pipeline/karthiks_pipeline.json
{
	"name": "karthiks_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "color*.csv",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Input_merge_karthik",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Output_karthik",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Name_set",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "OUT_Name",
					"value": [
						1,
						2,
						3,
						4
					]
				}
			},
			{
				"name": "Append_karthik",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Name_set",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "result_name",
					"value": {
						"value": "@max(variables('OUT_Name'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append_karthik",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "final",
					"value": {
						"value": "@variables('result_name')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"OUT_Name": {
				"type": "Array"
			},
			"result_name": {
				"type": "Integer"
			},
			"final": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-19T17:56:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}